/* Netflix-Style Experience Section */

.experience-main {
  width: 100%;
  background: #141414;
  min-height: 100vh;
  padding: 0;
}

.basic-experience {
  padding: 80px 4% 60px;
  margin: 0;
}

.experience-heading-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide old image - user requested no old images */
.experience-heading-img-div {
  display: none;
}

.experience-heading-text-div {
  text-align: left;
  max-width: 100%;
}

.experience-heading-text {
  font-size: 48px;
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 16px 0;
  color: #ffffff;
  letter-spacing: -0.5px;
}

.experience-heading-sub-text {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 0 0 12px 0;
  color: #ffffff;
}

.experience-header-detail-text {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #b3b3b3;
  max-width: 700px;
}

@media (max-width: 1380px) {
  .experience-heading-text {
    font-size: 40px;
  }

  .experience-heading-sub-text {
    font-size: 20px;
  }

  .experience-header-detail-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .basic-experience {
    padding: 60px 20px 40px;
  }

  .experience-heading-text {
    font-size: 32px;
    text-align: left;
  }

  .experience-heading-sub-text {
    font-size: 18px;
    text-align: left;
  }

  .experience-header-detail-text {
    font-size: 15px;
    text-align: left;
  }
}
